<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Djangoing</title>
</head>

<body>
  <header>
    <h1><a href="/">Home</a></h1>
  </header>

  {% for post in posts %}
    <article>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
      <time>published by {{ post.author }} at: {{ post.published_date }}</time>
    </article>
  {% endfor %}

</body>
</html>