<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Djangoing</title>
</head>

<body>
  <header>
    <h1><a href="/">Home</a></h1>
  </header>

  <article>
    <h2><a href="">Example post</a></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ducimus, illo, suscipit libero voluptatem totam ea et nisi odit doloribus repellat minima natus sit deleniti iure cupiditate assumenda eos. Sunt?</p>
    <time>published: 14.06.2014, 12:14</time>
  </article>

</body>
</html>